{% extends "admin/base_site.html" %}


{% load i18n staticfiles %}

{% block head_title %}{% trans "Fullcalendar" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extrahead %}
   {{ block.super }}
    <link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
    <script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
    <script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar/dist/locale/bg.js' %}"></script>
<style>
    div.fc-slats table tbody tr {
       height:40px;
    }
</style>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

    {% for field in form.visible_fields %}
        {{ field.label }} : {{ field }}
    {% endfor %}

    <div id="calendar"></div>
    <script type='text/javascript'>
    $(document).ready(function() {

        $('#id_club_field').change( function(event) {
               $('#calendar').fullCalendar( 'refetchEvents' );
            });

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'agendaWeek,agendaDay,listWeek,month,'
            },
            defaultView: 'agendaWeek',
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            navLinks: true,
            eventOverlap : true,
            slotEventOverlap: true,
            allDaySlot : false,
            minTime : "09:00",
            maxTime : "22:00",
            locale : 'bg',
            columnFormat: 'dddd',
            contentHeight: 542,
            aspectRatio: 5,
            slotDuration: '01:00:00' ,
            snapDuration: '02:00:00' ,
//            validRange: {
//                    start: '{% now "Y-m-d" %}'
//            },
            events: {
                url: '/calendar_tarts_feed',
               data: function() {
                  return {
                       club_id: $('#id_club_field')[0].value
                    };
                }
            },
            eventClick: function(event) {
               if (event.url) {
                    window.open(event.url,"_self");
                    return false;
               }
            },
            dayClick: function(date, jsEvent, view) {
                var today= new Date();
                tomorrow = new Date(today.getFullYear(), today.getMonth(), today.getDate()+1);

                /*if(date.get('hour') % 2 == 0) {
                   date.add(1, 'hours');
                }*/

                if(date > tomorrow) {
                    window.open('/admin/tartrequests/tortarequest/add?'+
                     'dostavka_date='+ date.format('YYYY-MM-DD') +
                     '&dostavka_time='+ date.format('HH:00') +
                     '&club_fk=' + $('#id_club_field')[0].value
                    ,"_self");
                }

            },

            eventDrop: function(event, delta, revertFunc) {
               // alert('Drop: ' );
            },
        });
    });
    </script>

{% endblock %}