<div style="position:absolute">
    <span>Тип:</span>
    <input id="id_tart_type" name="zz_tart_type"
           style="position:relative;top:18px;right: -560px; width: 265px; height: 188px;z-index:99"
           disabled=""/>
    <span id=>Тип:</span>
    <br>
    <span>Категория:</span>
    <input id="id_tart_category" name="zz_tart_category"
           style="position:relative;top:18px;right: -560px; width: 265px; height: 188px;z-index:99"
           disabled=""/>
    <br>

    <img src="{{ MEDIA_URL }}{{original.code.filename}}"
         style="position:relative;top:18px;right: -560px; width: 265px; height: 188px;z-index:99"
    />
</div>

<script type="text/javascript">
        //<![CDATA[
            $(document).ready(function(){
                var parent_field = $("#id_code");
                parent_field.addClass('chained-parent-field-img');
                var chained_ids = parent_field.attr('chained_ids');
                if(chained_ids == null)
                    parent_field.attr('chained_ids', "tart_picture_image");
                else
                    parent_field.attr('chained_ids', chained_ids + ",tart_picture_image");

                parent_field.attr('chained_ids', chained_ids + ",id_tart_type");
                parent_field.attr('chained_ids', chained_ids + ",id_tart_category");
            });
        //]]>
</script>